<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>增加导航</title>
</head>
<body>
  <form action="/admin/nav/add" method="post" enctype="multipart/form-data">
    <label for="title">标题：</label>
    <input type="text" id="title" name="title">
    <br>
    <br>
    <label for="pic">图片1：</label>
    <input type="file" id="pic" name="pic">
    <br>
    <br>
    <label for="pic2">图片2：</label>
    <input type="file" id="pic2" name="pic2">
    <br>
    <br>
    <label for="desc">描述：</label>
    <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
    <br>
    <br>
    <input type="submit" value="提交">
  </form>
</body>
</html>