<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>添加商品</h2>
  <form action="/register" method="post">
    <div>
      <label for="order_id">id：</label>
      <input id="order_id" name="order_id" type="text">
    </div>
    <div>
      <label for="title">名称：</label>
      <input id="title" name="title" type="text">
    </div>
    <div>
      <label for="price">价格：</label>
      <input id="price" name="price" type="number">
    </div>
    
    <input type="submit" value="提交">
</form>
</body>
</html>